<div itemscope itemtype="http://schema.org/Person">
<img src="http://www.gravatar.com/avatar/78d81da747cf67c4616afc76d5887456.png?s=200" alt="Tim Millwood" itemprop="image" class="img-polaroid pull-left avatar" />
<p>As you may have seen on the homepage, I'm <span itemprop="name">Tim Millwood</span>.<p>
<p>By day I am a <span itemprop="title">Client Advisor</span> at <a href="http://www.acquia.com" itemprop="affiliation">Acquia</a> helping to get Drupal sites set up and launched on Acquia's Managed Cloud hosting platform. By night I am a freelance web developer and technical writer working on Drupal, Ruby on Rails and Sinatra based project and writing for publications such as .net magazine.</p>

<p>I maintain Drupal modules and themes as well as being the Drupal core maintainer of the Statistics module. Other than Drupal I work with different languages and frameworks such as <a href="http://www.ruby-lang.org/">Ruby</a>, which I used to build this site using the <a href="http://www.sinatrarb.com/">Sinatra</a> framework.</p>
<p>
</div>
