<h1>About</h1>
<div class="thumbnails">
   <div class="thumbnail pull-left" style="width: 200px;">
      <img src="http://www.gravatar.com/avatar/78d81da747cf67c4616afc76d5887456.png?s=200" alt="">
      <div class="caption"><small>Tim Millwood</small></div>
   </div>
</div>
<p>As you may have saw on the homepage, I'm Tim.<p>
