<form action='<%= request.path %>' method='post'>
  <%= Rack::Csrf.csrf_tag(env) %>
  
  <label for='content_title'>Title</label>
  <input id='content_title' name='content[title]' size='30' type='text' class='span8' />
  
  <label for='content_tags'>Tags</label>
  <input id='content_tags' name='content[tags]' size='30' type='text' class='span8' />
   
  <label for='content_body'>Body</label> 
  <textarea id='content_body' name='content[body]' cols="60" rows="15"class='span8'></textarea>
  
  <label for='content_alias'>Alias</label>
  <input id='content_alias' name='content[alias]' size='30' type='text' class='span8' />
  
  <div class="form-actions">
    <button type='submit' class='btn btn-primary'>Save</button>
  </div>
</form>
