<h1><%= @contents.title %></h1>
<div><i class="icon-time"></i><%= @contents.created.strftime("%d %B %Y") %></div>
<div><i class="icon-tags"></i>
  <% @contents.tags.split(', ').each do |tag| %>
  <%= "<a href='/tag/#{tag.gsub(' ', '-')}'>#{tag}</a>" %>
  <% end %>
</div>
<div><%= @contents.body %></div>
<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'millwoodonline'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
