<div itemscope itemtype="http://schema.org/Product">
<h1 class="page-title" itemprop="name">Drupal</h1>
<div class="thumbnail pull-left avatar">
    <img src="//static.millwoodonline.co.uk/images/druplicon.png" itemprop="image" alt="Drupal">
</div>
<div itemprop="description">
<p>After working with Drupal for over 5 years it has become a real key skill.</p>
<p>Drupal provides a very quick way to build an effective content managed website. With the huge array of Open Source contributed modules sites can be pieced together with ease bringing together complex web site solutions</p>
</div>
<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <link itemprop="availability" href="http://schema.org/InStock" />
  <p>We're looking to take on new projects, so if you are looking for a web developer to help out with your Drupal project call <a href="tel:+441873878587">01873 878587</a> or <a href="/contact">email</a></p>
</div>
</div>