<div id='sinatra_authentication'>
  <h1>
    Edit
    account
  </h1>
  <% if @user.id == current_user.id %>
  <form action='/users/<%= @user.id %>/edit' method='post'>
  <%= Rack::Csrf.csrf_tag(env) %>>
    <div class='field'>
      <div class='label'>
        <label for='user_email'>Email</label>
      </div>
      <input id='user_email' name='user[email]' size='30' type='text' value='<%= @user.email %>' />
    </div>
    <div class='field'>
      <div class='label'>
        <label for='user_password'>New password</label>
      </div>
      <input id='user_password' name='user[password]' size='30' type='password' />
    </div>
    <div class='field'>
      <div class='label'>
        <label for='user_password_confirmation'>Confirm</label>
      </div>
      <input id='user_password_confirmation' name='user[password_confirmation]' size='30' type='password' />
    </div>
    <div class='buttons'>
      <input type='submit' value='Update' />
    </div>
  </form>
  <% end %>
</div>
