<div id='sinatra_authentication'>
  <h1 class='page_title'>Users</h1>
  <table>
    <tr>
      <th></th>
      <th>permission level</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.email %>
      </td>
      <td>1</td>
      <td>
        <a href='/users/<%= user.id %>'>show</a>
      </td>
      <td>
        <a href='/users/<%= user.id %>/edit'>edit</a>
      </td>
      <td>
        <% if user.site_admin? %>
        site admin
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
