<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | Millwood Online' %></title>
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Millwood Online</a></h1>
    </hgroup>
  </header>
  <div id="main">
    <%= yield %>
  </div>
  <footer>
  </footer>
</body>
</html>
