<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Millwood Online</title>
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Millwood Online</a></h1>
    </hgroup>
  </header>
  <div id="main">
    <% if Rack.const_defined?('Flash') %>
      <div id='sinatra_authentication_flash'><%= flash[:notice] %> <%= flash[:error] %></div>
    <% end %>
    <%= yield %>
  </div>
  <footer>
  </footer>
</body>
</html>
