<div itemscope itemtype="http://schema.org/Product">
<h1 class="page-title" itemprop="name">PHP / Drupal</h1>
<div class="thumbnail pull-left avatar">
    <img src="//static.millwoodonline.co.uk/druplicon.png" itemprop="image" alt="Drupal">
</div>
<div itemprop="description">
<p>After working with PHP and Drupal for many years these have become a key skill.</p>
<p>Drupal provides a very quick way to build an effective content managed website. With the huge array of Open Source contributed modules sites can be pieced together with ease bringing together complex web site solutions</p>
</div>
<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <link itemprop="availability" href="http://schema.org/InStock" />
  <p>If you are looking for a web developer to help out with your PHP or Drupal project call <a href="tel:+441873878587">01873 878587</a> or <a href="/contact">email</a></p>
</div>
</div>