<div itemscope itemtype="http://schema.org/Product">
<h1 class="page-title" itemprop="name">Ruby on Rails / Sinatra</h1>
<div class="thumbnail pull-left avatar">
    <img src="//static.millwoodonline.co.uk/images/ruby.png" itemprop="image" alt="Ruby on Rails / Sinatra">
</div>
<div itemprop="description">
<p>Ruby is a great language to work with and a joy to use. After building multiple applications using Ruby it have become a firm favorite for many types of web app.</p>
<p>Sinatra offers simplicity for building basic, easy to use and easy to manage REST applications. Ruby-on-Rails offers more complexity, but sophistication allowing larger custom applications to be developer quickly and effectively.</p>
</div>
<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <link itemprop="availability" href="http://schema.org/InStock" />
  <p>I'm looking to take on new projects, so if you are looking for a web developer to help out with your Ruby based project call <a href="tel:+441873878587">01873 878587</a> or <a href="/contact">email</a></p>
</div>
</div>