
  <h1 class='page_title'>Sign Up</h1>
  <form action='/signup' method='post' class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for='user_email'>Email</label>
      <input id='user_email' name='user[email]' size='30' type='text' />
    </div>
    <div class="control-group">
      <label class="control-label" for='user_password'>Password</label>
      <input id='user_password' name='user[password]' size='30' type='password' />
    </div>
    <div class="control-group">
      <label class="control-label" for='user_password_confirmation'>Confirm Password</label>
      <input id='user_password_confirmation' name='user[password_confirmation]' size='30' type='password' />
    </div>
    <div class="control-group">
      <button type='submit' class='btn btn-primary'>Sign up</button>
    </div>
  </form>
