<h1>Work</h1>
<p>Currently working full-time at <a href="http://www.acquia.com">Acquia</a>, and loving it. Although can spare a few hours a week for Drupal, Ruby/Sinatra, or technical writing projects, so feel free to <a href="/contact">ping me</a>.</p>
