<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img src="acquia.png" alt="Acquia">
      <div class="caption">
        <h3>Acquia</h3>
        <p>My current full-time position is with Acquia, working to make sure all new customers launch with success. First their site is migrated over from the previous server, audited, load tested, and launched.</p>
        <p><a href="http://www.acquia.com/">www.acquia.com</a></p>
      </div>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="/net.png" alt=".net magazine">
      <div class="caption">
        <h3>.net magazine</h3>
        <p>In the last few years I have written a number of articles for both .net magzine and .net website.</p>
        <p><a href="http://www.netmagazine.com/features/top-15-drupal-performance-tips">Top 15 Drupal Performance tips</a><br/>
           <a href="http://www.netmagazine.com/tutorials/build-job-listings-website-drupal">Build a job listings website with Drupal</a><br/>
           <a href="http://www.netmagazine.com/tutorials/create-responsive-drupal-theme">Create a responsive Drupal theme</a></p>
      </div>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="/heroku_mobile.png" alt="">
      <div class="caption">
        <h3>Heroku Mobile</h3>
        <p>After moving this site to be hosted on Heroku I wanted a mobile web app to help me monitor and maintain the server. So I built one. It uses the Heroku API, just login with your Heroku account details.</p>
        <p><a href="http://heroku-mobile.herokuapp.com">heroku-mobile.herokuapp.com</a></p>
      </div>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="/let.png" alt="">
      <div class="caption">
        <h3>Hire me</h3>
        <p>I often have a few hours a week to work on other projects, if you're looking for a web developer to work on PHP (Drupal), Ruby (Rails or Sinatra), or for technical writing, let me know.</p>
        <p><a href="/contact">Contact</a></p>
      </div>
    </div>
  </li>
</ul>